<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNGStudy"  parallel="tests" thread-count="2" >
    <test name="TestNGDemo_1">
        <classes>
            <class name="com.hizuche.testcase.log.Login"/>
        </classes>
    </test>

    <test name="TestNGDemo_2">
        <classes>
            <class name="com.hizuche.testcase.companycar.SearchComanyCar"/>
        </classes>
    </test>
</suite>